<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Artists Songs Tracker</title>

	<link rel="icon" type="image/x-icon" href="">
    <link rel="stylesheet" href="../../style/style.css">
	<link rel="stylesheet" href="../../style/artistSelection.css">
</head>
<body>
	<header>
		<h1>Artists Songs Tracker</h1>
	</header>

	<div id="artists-trackers-div" class="linear-container">
		
	</div>

	<div id="add-artist-div" class="linear-container">
		<button id="add-artist-button">Add Artist</button>
	</div>
	

	<script type="module" src="../../src/main.js"></script>
	<script type="module" src="../../src/controller/selection_controller/artistSelectionController.js"></script>
</body>
</html>