<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Artists Songs Tracker</title>

	<link rel="icon" type="image/x-icon" href="">
    <link rel="stylesheet" href="../../style/style.css">
	<link rel="stylesheet" href="../../style/artistSelection.css">
</head>
<body>
	<header>
		<h1>New Artist</h1>
	</header>

	<div id="new-artist-form-div" class="input-form-div">
		<input type="text" id="new-artist-field-artist" class="input-text-field" placeholder="Artist's Name">
		<input type="text" id="new-artist-field-description" class="input-text-field" placeholder="Description">
		<div id="new-artist-field-logo" class="file-picker-div">
			<input type="file" id="new-artist-field-logo-file" class="file-picker" accept="image/*">
		</div>
		<div id="new-artist-field-search-backgroud-image" class="file-picker-div">
			<input type="file" id="new-artist-field-search-backgroud-image-file" class="file-picker" accept="image/*">
		</div>
		<div id="new-artist-field-backgroud-image" class="file-picker-div">
			<input type="file" id="new-artist-field-backgroud-image-file" class="file-picker" accept="image/*">
		</div>
		<div id="new-artist-filed-songs-list" class="file-picker-div">
			<input type="file" id="new-artist-field-songs-list-file" class="file-picker" accept=".json">
		</div>

		<button id="submit-new-artist-button" class="submit-form-button">Add Artist</button>
	</div>
	

	<script type="module" src="../../src/main.js"></script>
	<script type="module" src="../../src/controller/selection_controller/newArtistController.js"></script>
</body>
</html>